gcc, g++, make
	- ubuntu -> sudo apt-get install gcc g++ make
	- debian -> apt-get install gcc g++ make (as root)
build-essential
	- ubuntu -> sudo apt-get install build-essential
	- debian -> apt-get install build-essential (as root)
python-dev
    - ubuntu -> sudo apt-get install python-dev
    - debian -> apt-get install python-dev (as root)
zlib
    - ubuntu -> sudo apt-get install  zlib1g-dev
Kyoto Cabinet
Kyoto Cabinet for Python 2.x